body {
  background: linear-gradient(to right, #eef2f3, #dfe9f3);
  font-family: Arial, sans-serif;
}

h1 {
  font-weight: bold;
}

.card {
  border-radius: 15px;
}

#workoutList li {
  border-radius: 10px;
  margin-bottom: 10px;
  transition: 0.2s;
}

#workoutList li:hover {
  transform: scale(1.02);
}

button {
  border-radius: 8px !important;
}
